<nav class="navbar navbar-default col-12">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Recipe-Shopper </a>
        </div>


        <div class="topnav col-12">
            <a href="#" class="active">Recepies</a>
            <a href="#">Shopping list</a>
        </div>
        <div class="col-1">
            <ul class="nav navbar-nav navbar-right col-1">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data </a></li>
                        <li><a href="#">Fetch Data </a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
