<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Recipe-Shopper </a>
        </div>


        <div class="topnav row col-12">
            <div class="col-11">
                <a href="#" id="topNavLink" (click)="onSelect('recipe')">Recepies</a>
                <a href="#" id="topNavLink" (click)="onSelect('list')">Shopping list</a>
            </div>
            <!-- TODO: Fix this shit later, have to do other stuff now -->
            <div class="col-1 nav navbar-nav">

                <li class="dropdown" appDropdown>
                    <a href="#" role="button" class="nav-link"> <span class="material-icons md-light" id="menuIcon">menu</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item menu-item" href="#">Save Data </a></li>
                        <li><a class="dropdown-item menu-item" href="#">Fetch Data </a></li>
                    </ul>
                </li>

            </div>
        </div>
    </div>
</nav>