<div class="row">
    <div class="col-12">
        <h1> {{ recipe.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="button-group dropdown" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownButton"> Manage Recipe <span class=" caret "></span>
      </button>
            <ul class="dropdown-menu">
                <li><a (click)="toShoppinglist()" style="cursor:pointer" class="dropdown-item menu-item"> To shoppinglist</a></li>
                <li><a href="# " class="dropdown-item menu-item"> Edit Recipe</a></li>
                <li><a href="# " class="dropdown-item menu-item"> Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-12 ">
        {{ recipe.description }}
    </div>
</div>
<div class="row ">
    <div class="col-12 ">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>